/* src/fonts.css */
@font-face {
    font-family: 'NotoSans';
    src: url('./fonts/Noto_Sans.otf') format('truetype'); /* Adjust the path and format according to your font file */
  }
  
  body {
    font-family: 'NotoSans', sans-serif;
  }
  